# Test Report
* Date: 20/10-23
* Type of Test: Manual Testing
* Tested in: Live Environment [here](https://times-tables-test.netlify.app/)
* Version: 1.0.0

| Interactivity | UC1 |
| --------- |:----:|
| TC1.1     | OK |
| TC1.2     | OK |
| PASS      | 2/2 |

| Costumization | UC2 |
| --------- |:----:|
| TC2.1     | OK |
| TC2.2     | OK |
| PASS      | 2/2 |

| Results | UC3 |
| --------- |:----:|
| TC3.1     | OK |
| TC3.2     | OK |
| PASS      | 2/2 |

| User Interface | UC4 |
| --------- |:----:|
| TC4.1     | OK |
| TC4.2     | OK |
| PASS      | 2/2 |